<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <h1>Application Header</h1>
    </div>
    <div id="siderbar">
        <p> Sidebar for menu </p>
    </div>
    <div id="=content">
        @RenderBody()
    </div>
    <div id="footer">
        <p>Site Footer - DSL</p>
    </div>
</body>
</html>
